.accordion-container{
    p.accordion-container__btn-acc.casino {
        color: #444;
        font-weight: 800;
        background: #ff6600;
    }

    .accordion-container__panel.casinoText{
        h1{
            font-weight: 600;
        }
    }
}
