body{
	background-color: #232323 !important;
}

.top-nav{
	background    	: #FF6600;
	position      	: fixed;
	top           	: 0;
	width         	: 100%;
	left          	: 0;
	display 		: flex;
	justify-content : center;
	z-index: 1;

	&__container{
		display 		: flex;
		justify-content : space-between;
		height        	: var(--header-height);
		width: 100%;
		max-width: 1200px;
		padding: 0 15px;

	}

	&__align{
		background-color: #292929;
		padding: 0.8rem;
	}

	&__link{
		align-self: center;
		
	}
	&__logo{
		height: 2.1rem;
		width: auto;
		display: block;
		@include from(lg){
			height: 2rem;
		}
	}
	&__menu{
		@include fromTo(s,lg){
			position 		: fixed;
			padding 		: 0 10px;
			height 			: 100vh;
			width 			: 260px;
			background 		: white;
			transition 		: right .5s;
			overflow-y 		: auto;
			border-top 		: 1px solid #DFE0E0;
			border-left 	: 1px solid #DFE0E0;
			top 			: var(--header-height);
			right 			: -260px;
			&.is-active {
				right 		: 0;
			}
		}
		@include from(lg){
			align-self: center;
			margin: 1.2rem 0;
			padding: 0;
		}
	}
	&__li{
		color: #fff;
		margin-left: 1em;
		list-style-type: none;
		display: inline-block;
		@include fromTo(s,lg){
			color: #000;
			display: block;
			border-bottom: 1px solid #DFE0E0;
			padding: 10px 0;
			margin: 0;
		}
		
	}
	&__anchor{
		@include fromTo(s,lg){
			display: block;
		}
	}
	&__buttons{
		margin: 1rem 0;      
		
		.btn{
			color: white;
		}
		.btn__login{
			background-color: #2fcf00;
			border: 1px solid #2fcf00;
			padding: 0.4rem 0.7rem 0.2rem;
			border-radius: 4px;
		}
	
		.btn__register{
			background-color: #2fcf00;
			border: 1px solid #2fcf00;
			padding: 0.4rem 0.7rem 0.2rem;
			border-radius: 4px;
		}
	}
	&__mb-iconMenu {
		position: relative;
		align-self: center;
		top: 3px;
		padding: 0;
		span{
			&.hamburger-inner{
				background: black;
				&::after{}
				&::before{}
				&::after, &::before{
					background: black;
				}
			}
		}
		&:focus {
			outline: 0 !important;
			-moz-outline-style: none !important;
			outline: thin dotted;
			outline: 5px auto -webkit-focus-ring-color;
			outline-offset: -2px;
		}
		@include from(lg){
			display: none;
		}
	}

}
