.login-container {
	width           : 100%;
	height          : 100%;
	display         : none;
	top             : 0;
	z-index         : 100;
	justify-content : center;
	background-color: rgba($color: #000000, $alpha: 0.3);


	.login {
		background: #f60;
		max-height: 300px;
		border-radius: 10px;
		padding: 24px;
		width: 100%;
		text-align: center;
		display: flex;
		flex-direction: column;
		color: #fff;
		position: absolute;
		//top: 30vh;
		max-width: 300px;
		animation-duration: 0.8s;
		animation-name: animodal;
		animation-fill-mode:forwards;
	
		@keyframes animodal {
			
			from {
				margin-top: 0%;
			  }
			to {
			  margin-top: 30vh;
			}
		  }


		button.btn.btn-success.btn-block.idt {
			background-color: #2fcf00;
			margin-top      : 10px;
			padding         : 8px;
			color           : #000;
			border          : 1px solid #2fcf00;
			border-radius: 10px;
		}

		.form-group{
			display: flex;
			flex-direction: column;
		}

		input {
			background-color: transparent;
			border-radius   : 7px;
			border          : 2px solid #ffffff8f;
		}

		.header-login {
			button#closeLogin {
				background-color: transparent;
				border          : none;
				text-align      : end;
				float           : right;
			}
		}
	}



}

.active {
	display        : flex;
	justify-content: center;
	position       : fixed;
	margin         : 0 auto;
}