div(class='ed-container casino')
	div(class='ed-item')
			p(class='accordion-container__btn-acc casino') Casino en Linea
			div(class='accordion-container__panel casinoText') 
				include:markdown-it(html) ../md/infoCasino.md
div(class="ed-grid s-grid-1 m-grid-4 rows-gap casinoImage")
	include ../config/mixin/mixin-casino
	