div(class='ed-container')
	div(class='ed-item')
		div(class='accordion-container')
			a(class='accordion-container__btn-acc'): img(class="bono-150" src="https://betswing.com/wp-content/uploads/150Bono.png", alt="imagen de bono")
			div(class='accordion-container__panel') 
				include:markdown-it(html) ../md/bonos100.md
			a(class='accordion-container__btn-acc'): img(class="bono-300" src="https://betswing.com/wp-content/uploads/150Bono.png", alt="imagen de bono")
			div(class='accordion-container__panel')
				include:markdown-it(html) ../md/bonos300.md
			a(class='accordion-container__btn-acc'): img(class="bono-300" src="https://betswing.com/wp-content/uploads/Redeposito30.png", alt="imagen de bono")
			div(class='accordion-container__panel')
				include:markdown-it(html) ../md/bonos300.md
			a(class='accordion-container__btn-acc'): img(class="bono-300" src="https://betswing.com/wp-content/uploads/Redeposito20-1-768x268.png", alt="imagen de bono")
			div(class='accordion-container__panel')
				include:markdown-it(html) ../md/bono20.md
