extends ../config/template
append config
	-currentPage		= "Vivo"
	-siteName			= 'Betswing'
	-content			= 'content'
	-pageDescription	= 'This website contains a collection of projects developed by Enrique Estrada using a Gulp boilerplate developed by him'
block main-header
block main-container
	include ../components/vivo
block main-footer
block scripts
